<a href="https://colab.research.google.com/github/parkjaehyeok20220534/-/blob/main/6%EC%A3%BC%EC%B0%A8%20%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import json

json_file_path = "file.json"

with open(json_file_path, "r") as f:
    json_data = json.load(f)

df = pd.DataFrame(json_data)

print(df.info())

print(df.isnull().sum())

print(df.dtypes)

print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 6 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   flagCode                              87 non-null     object
 1   country                               87 non-null     object
 2   YouTubeUsers_TotalUsers_Num_2024Feb   87 non-null     int64
 3   YouTubeUsers_Penetration_Pct_2024Feb  87 non-null     float64
 4   YouTubeUsersJuly2023                  87 non-null     float64
 5   YouTubeUsersPenetrationJuly2023       87 non-null     float64
dtypes: float64(3), int64(1), object(2)
memory usage: 4.2+ KB
None
flagCode                                0
country                                 0
YouTubeUsers_TotalUsers_Num_2024Feb     0
YouTubeUsers_Penetration_Pct_2024Feb    0
YouTubeUsersJuly2023                    0
YouTubeUsersPenetrationJuly2023         0
dtype: int64
flagCode                                 object
country                                  object
YouTubeUsers_TotalUsers_Num_2024Feb       int64
YouTubeUsers_Penetration_Pct_2024Feb    float64
YouTubeUsersJuly2023                    float64
YouTubeUsersPenetrationJuly2023         float64
dtype: object
       YouTubeUsers_TotalUsers_Num_2024Feb  \
count                         8.700000e+01
mean                          2.821110e+07
std                           5.906624e+07
min                           2.760000e+05
25%                           4.330000e+06
50%                           7.430000e+06
75%                           2.840000e+07
max                           4.620000e+08

       YouTubeUsers_Penetration_Pct_2024Feb  YouTubeUsersJuly2023  \
count                             87.000000             87.000000
mean                              75.111494             29.044023
std                               14.553809             59.831989
min                               24.500000              0.290000
25%                               70.600000              4.405000
50%                               79.200000              7.640000
75%                               83.400000             31.150000
max                               98.200000            467.000000

       YouTubeUsersPenetrationJuly2023
count                        87.000000
mean                         74.678161
std                          18.881481
min                          23.200000
25%                          66.600000
50%                          77.400000
75%                          88.450000
max                         112.300000

In [17]:
import pandas as pd
import xml.etree.ElementTree as ET

xml_file_path ="/content/Demo_xml.xml"

tree = ET.parse(xml_file_path)

root = tree.getroot()

elements = root.findall('book')

df = pd.DataFrame(columns=["Title", "Author", "Genre", "Price"])

for element in elements:
  row = {
   'Title' : element.find("title").text,
   'Author': element.find("author").text,
   'Genre' : element.find("genre").text,
   'Price' : element.find("price").text
   }
  new_df = pd.DataFrame([row], columns=df.columns)
  df = pd.concat([df, new_df], ignore_index=True)

print(df.info())

print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   12 non-null     object
 1   Author  12 non-null     object
 2   Genre   12 non-null     object
 3   Price   12 non-null     object
dtypes: object(4)
memory usage: 516.0+ bytes
None
                   Title                Author     Genre  Price
0  XML Developer's Guide  Gambardella, Matthew  Computer  44.95
1          Midnight Rain            Ralls, Kim   Fantasy   5.95
2        Maeve Ascendant           Corets, Eva   Fantasy   5.95
3        Oberon's Legacy           Corets, Eva   Fantasy   5.95
4     The Sundered Grail           Corets, Eva   Fantasy   5.95